<div id="authModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Authorize</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <label class="form-label mb-0 me-2 w-25" for="usernameInput">Username</label>
                <input id="usernameInput" class="form-control disable-focus rounded mt-1" placeholder="Enter username" required />
            </div>

            <div class="modal-footer">
                <button id="loginButton" type="button" class="btn btn-primary" data-bs-dismiss="modal">Login</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>