<!DOCTYPE html>
<html lang="en">

<%- include('head') -%>

<body>

  <%- include('header') -%>

  <main class="mt-5">
    <div class="d-flex">
      <%- include('sidebar') -%>

      <div class="col-10">
        <section class="my-4" id="section">
          <div class="row mx-0">
            <div class="col-lg-10 mx-auto" style="min-height: 600px; max-height: 600px">
              <div class="row bg-light rounded box-shadow h-100">
                <div class="col-md-4 p-0 border-end custom-scrollbar position-relative" style="overflow-y: auto; height: 100%">

                  <div id="searchbox" class="sticky-top" style="z-index: 100">
                    <input id="searchInput" class="w-100 form-control disable-focus" type="text" style="height: 40px; border-radius: 0" placeholder="Search...">
                  </div>
                  <div id="hits" class="bg-light position-absolute w-100" style="height: calc(100% - 56px); z-index: 10; display: none"></div>
                  <div id="chat-room-container" class="position-absolute w-100" style="max-height: calc(100% - 56px)">
                    <% for (let i = 0; i < chats.length; i++) { %>
                      <a class="d-flex align-items-center pt-3 pb-3 chat-search-hit hover-link" href="/chat/<%= chats[i]._id.toString() %>">
                        <img class="d-block ms-2 me-3 rounded-circle" width="45" src="/static/images/default-user-image.png" style="pointer-events: none"/>
                            <% if (chats[i].type === "private") { %>
                                <div class="d-flex align-items-center justify-content-between w-100 pe-3">
                                    <span style="pointer-events: none"><%= chats[i].users[0].username %></span>
                                    <span style="pointer-events: none; font-size: 12px; color: var(--semi-gray-color);">private</span>
                                </div>
                            <% } else { %>
                              <div class="d-flex align-items-center justify-content-between w-100 pe-3">
                                  <div style="pointer-events: none">
                                      <%= chats[i].name %> <span style="font-size: 12px; color: var(--semi-gray-color);">(you and <%= chats[i].users.length %> others)</span>
                                  </div>
                                  <span style="pointer-events: none; font-size: 12px; color: var(--semi-gray-color);">group</span>
                              </div>
                            <% } %>
                      </a>
                    <% } %>
                  </div>
                </div>

                <div class="col-md-8 col-12 d-md-flex d-none justify-content-center flex-column p-0 h-100">
                  <% if (chat_id != null) { %>

                  <div class="d-flex p-2 px-3 border-bottom align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                      <a href="" target="blank" class="me-2" style="width: 6%">
                        <img class="img-fluid rounded-circle" src="" alt="" id="other_user_profile_image">
                      </a>
                      <a href="" target="blank" class="fw-bold link text-dark"></a>
                    </div>

                    <div>
                      <i id="infoIcon" class="fa-solid fa-circle-info me-2" data-bs-toggle="dropdown"></i>
                      <ul class="dropdown-menu dropdown-menu-end me-1 p-0 fade w-10" aria-labelledby="notificationBell">
                        <% for(let i = 0; i < chat.users.length; i++) { %>
                            <li>
                                <div class="dropdown-item d-flex py-2 px-2 custom-active" href="#">
                                    <img class="d-block rounded-circle me-2" width="30" src="/static/images/default-user-image.png" style="pointer-events: none"/>
                                    <span style="pointer-events: none"><%= chat.users[i].username %></span>
                                </div>
                            </li>
                        <% } %>
                        </ul>
                      <a href="/chat" class="link me-1 hover-link">Back</a>
                    </div>
                  </div>

                  <div id="message-wrapper" class="d-flex flex-column-reverse align-items-end h-100 p-3 custom-scrollbar" style="overflow-y: scroll; scroll-behavior: smooth; font-size: 14px">
                    <div id="message-observe-container" class="w-100"></div>
                  </div>

                  <div class="input-group p-3">
                    <textarea class="form-control custom-scroll disable-focus m-0 p-2 bg-light text-muted fs-14px rounded-start" id="message-textarea" maxlength="800" rows="1" placeholder="Message..." style="overflow-y:scroll; overflow-x: hidden; border-radius: 0;"></textarea>
                    <button type="button" class="input-group-text bg-light fs-14px text-primary post-comment-button rounded-end" id="message-button" style="border-radius: 0">Send</button>
                  </div>

                  <% } else { %>
                  <button id="createGroupInit" class="btn btn-secondary btn-block text-center ms-auto me-2 mt-2">Create Group</button>
                  <div class="flex-grow-1 d-flex align-items-center justify-content-center">
                    <div class="fs-3 fst-italic">Select a chat to start messaging</div>
                  </div>
                  <% } %>

                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

  </main>

  <div id="createGroupModal" class="modal fade" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">

              <div class="modal-header">
                  <h5 class="modal-title">Create Group</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body">
                  <label class="form-label mb-0 me-2 w-25" for="usernameInput">Name</label>
                  <input id="createGroupNameInput" class="form-control disable-focus rounded mt-1" placeholder="Enter name" required />
                  <label class="form-label mb-0 me-2 mt-2 w-25" for="usernameInput">Added users</label>
                  <div id="addedUsers"></div>
                  <input id="createGroupSearchInput" class="form-control disable-focus rounded mt-1" placeholder="Search..." />
                  <div id="groupHits" class="bg-light w-100" style="height: 300px; z-index: 10; display: none; overflow-y: scroll"></div>
              </div>

              <div class="modal-footer">
                  <button id="createGroupSubmit" type="button" class="btn btn-primary" data-bs-dismiss="modal">Create</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              </div>
          </div>
      </div>
  </div>

  <%- include('auth') -%>

  <script src="https://kit.fontawesome.com/bfb61e7d57.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/static/js/utils.js"></script>
  <script src="/static/js/chat.js"></script>
  <script src="/static/js/common.js"></script>
  <script src="/static/js/cookies.js"></script>

  <% if (locals.chat) { %>
  <script>
    let messageButton = document.getElementById("message-button");
    let messageInput = document.getElementById("message-textarea")
    let messageContainer = document.getElementById("message-observe-container")

    <% for (var i = 0; i < messages.length; i++) { %>
        messageContainer.prepend(createMessageElement({
          username: "<%= messages[i].username %>",
          text: "<%= messages[i].text %>",
          timestamp: "<%= messages[i].timestamp %>",
        }))
    <% } %>

    const socket = io();

    socket.emit("joinChat", {
      user_id: getCookie("id"),
      username: getCookie("username"),
      chat_id: "<%= chat._id %>"
    })

    socket.on("message", data => {
      messageContainer.appendChild(createMessageElement(data))
      messageContainer.scrollTop = messageContainer.scrollHeight;
    })

    messageInput.addEventListener("keypress", (e) => {
      if (e.key === 'Enter' && !e.shiftKey) { e.preventDefault() }
    })

    messageInput.addEventListener("keyup", (e) => {
      if (e.key === 'Enter' && !e.shiftKey && !e.ctrlKey && messageInput.value.trim() !== "") { messageButton.click() }
    })

    messageButton.addEventListener(
      "click",
      (e) => {
        if (messageInput.value !== "") {
          socket.emit("chatMessage", messageInput.value)
          messageInput.value = ""
        }
      }
    )

  </script>
  <% } %>

</body>
</html>