<header class="position-sticky">
  <nav class="navbar bg-dark-subtle">
    <div class="container-fluid">
      <a class="navbar-brand">CMS</a>

      <div class="d-flex">
        <div class="ms-3 me-3">
          <a href="/chat" class="nav-link custom-nav-link position-relative">
            <i class="fa fa-mailbox fs-md-4 fs-5"></i>
          </a>
        </div>

        <div>
          <div id="notificationBell" class="position-relative" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-bell fa-xl text-dark hover-link"></i>
            <div id="notificationBellCircle" class="position-absolute top-0 end-0 rounded-circle circle-sm transform-5ms" style="background-color: transparent"></div>
          </div>

          <ul class="dropdown-menu dropdown-menu-end me-1 p-0 fade" aria-labelledby="notificationBell">
            <li>
              <a class="dropdown-item py-2 px-3 custom-active" href="#">
                <div class="d-flex">
                  <div class="me-2">
                    <img class="img-fluid rounded-circle mt-2" src="/static/images/default-user-image.png" alt="user-image" style="width: 1.7rem" data-bs-toggle="dropdown" aria-expanded="false">
                  </div>
                  <div>
                        <span>
                          <span class="fw-bold">serozhenka</span>
                          <span>sent you a message</span>
                        </span>

                    <div class="fw-light text-black-50">"content"</div>

                    <div class="fw-light text-black-50" style="font-size: 0.75rem">9 seconds ago</div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="dropdown-item p-3 custom-active" href="#">
                <div class="d-flex">
                  <div class="me-2">
                    <img class="img-fluid rounded-circle mt-2" src="/static/images/default-user-image.png" alt="user-image" style="width: 1.7rem" data-bs-toggle="dropdown" aria-expanded="false">
                  </div>
                  <div>
                        <span>
                          <span class="fw-bold">serozhenka</span>
                          <span>sent you a message</span>
                        </span>

                    <div class="fw-light text-black-50">"content"</div>

                    <div class="fw-light text-black-50" style="font-size: 0.75rem">9 seconds ago</div>
                  </div>
                </div>
              </a>
            </li>

          </ul>
        </div>

        <div class="ms-3">
          <img id="userProfileImage" class="img-fluid rounded-circle" src="/static/images/default-user-image.png" alt="user-image" style="width: 1.7rem" data-bs-toggle="dropdown" aria-expanded="false">
          <span id="username" class="ms-2"></span>

          <ul class="p-0 dropdown-menu dropdown-menu-end me-1" aria-labelledby="userProfileImage">
            <li><a class="px-3 py-2 dropdown-item custom-active" href="#">Profile</a></li>
            <% if (!(is_authenticated)) { %>
            <li><a id="authButton" class="px-3 py-2 dropdown-item custom-active">Authorize</a></li>
            <% } else { %>
            <li><a id="logoutButton" class="px-3 py-2 dropdown-item custom-active" href="#">Logout</a></li>
            <% } %>
          </ul>
        </div>

      </div>
    </div>
  </nav>
</header>