<div class="col-2">
    <div class="ms-3">
        <ul style="list-style-type: none">
            <li class="mt-1"><a class="hover-link" href="#">Dashboard</a></li>
            <li class="mt-1 <% if (current_page === "students") { %>fw-bold<% } %>"><a class="hover-link" href="/students">Students</a></li>
            <li class="mt-1 <% if (current_page === "chat") { %>fw-bold<% } %>"><a class="hover-link" href="/chat">Chat</a></li>
            <li class="mt-1"><a class="hover-link" href="#">Tasks</a></li>
        </ul>
    </div>
</div>