<!DOCTYPE html>
<html lang="en">
<%- include('head') -%>

<body>

  <%- include('header') -%>

  <main class="mt-5">

    <div class="d-flex">

      <%- include('sidebar') -%>

      <div class="col-10 pe-4">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Students</h2>
          <i id="btn-addStudent" class="fa-solid fa-square-plus fs-2 hover-link" onclick="openAddStudentModal()"></i>
        </div>

        <div>
          <table class="table table-bordered text-center">
            <thead>
              <tr>
                <th scope="col">
                  <input id="checkbox-checkAll" class="form-check-input mt-0 disable-focus" type="checkbox" value="" aria-label="">
                </th>
                <th scope="col">Group</th>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Birthday</th>
                <th scope="col">Status</th>
                <th scope="col">Options</th>
              </tr>
            </thead>
            <tbody id="students-table-tbody"></tbody>
          </table>
        </div>

        <div class="mt-2">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link disable-focus" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
              </li>
              <li class="page-item"><a class="page-link disable-focus" href="#">1</a></li>
              <li class="page-item"><a class="page-link disable-focus" href="#">2</a></li>
              <li class="page-item"><a class="page-link disable-focus" href="#">3</a></li>
              <li class="page-item"><a class="page-link disable-focus" href="#">4</a></li>
              <li class="page-item">
                <a class="page-link disable-focus" href="#" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a>
              </li>
            </ul>
          </nav>
        </div>

      </div>
    </div>

  </main>


  <!-- Modals -->

  <div id="addEditStudentModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-header">
          <h5 id="addEditStudentModal-header" class="modal-title">Add student</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <form id="addEditStudentForm" action="" method="post" data-current_action="add">
            <input id="addEditStudentForm-idInput" class="form-control" type="hidden" name="id" value="" required>

            <div class="input-group align-items-center mb-3">
              <label class="form-label mb-0 me-2 w-25" for="addEditStudentForm-groupInput">Group</label>
              <select id="addEditStudentForm-groupInput" class="disabled-focus form-select rounded" name="group" required>
                <option disabled selected value="">Select group</option>
                <option value="PZ-21">PZ-21</option>
                <option value="PZ-22">PZ-22</option>
                <option value="PZ-23">PZ-23</option>
                <option value="PZ-24">PZ-24</option>
                <option value="PZ-25">PZ-25</option>
                <option value="PZ-26">PZ-26</option>
              </select>
            </div>

            <div class="input-group align-items-center mb-3">
              <label class="form-label mb-0 me-2 w-25" for="addEditStudentForm-FirstNameInput">First Name</label>
              <input id="addEditStudentForm-FirstNameInput" class="disabled-focus form-control rounded" name="first_name" required pattern="[A-Za-zА-Яа-я]+">
            </div>

            <div class="input-group align-items-center mb-3">
              <label class="form-label mb-0 me-2 w-25" for="addEditStudentForm-LastNameInput">Last Name</label>
              <input id="addEditStudentForm-LastNameInput" class="disabled-focus form-control rounded" name="last_name" required>
            </div>

            <div class="input-group align-items-center mb-3">
              <label class="form-label mb-0 me-2 w-25" for="addEditStudentForm-genderInput">Gender</label>
              <select id="addEditStudentForm-genderInput" class="disabled-focus form-select rounded" name="gender" required>
                <option disabled selected value="">Select gender</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
              </select>
            </div>

            <div class="input-group align-items-center mb-3">
              <label class="form-label mb-0 me-2 w-25" for="addEditStudentForm-birthdayInput">Birthday</label>
              <input type="date" id="addEditStudentForm-birthdayInput" class="disabled-focus form-control rounded" name="birthday" required>
            </div>

          </form>
        </div>

        <div class="modal-footer">
          <button form="addEditStudentForm" id="addEditStudentForm-button" type="submit" class="btn btn-primary">Create</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <div id="deleteStudentModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">Warning</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <span>Are you sure you want to delete selected users </span>
          <span id="deleteStudentModal-UserName"></span>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="deleteStudents()">Delete</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <div id="toast" class="toast hide position-absolute top-0 end-0 mt-4 me-4" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
    <div id="toast-header" class="toast-header">
      <strong class="me-auto">Server</strong>
      <small>now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div id="toast-body" class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>

  <%- include('auth') -%>

  <script src="https://kit.fontawesome.com/bfb61e7d57.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/static/js/students.js"></script>
  <script src="/static/js/utils.js"></script>
  <script src="/static/js/common.js"></script>
  <script src="/static/js/worker.js"></script>
  <script src="/static/js/cookies.js"></script>
</body>
</html>