:root {
     --light-gray-color: #f1f1f1;
     --semi-light-gray-color: #a8a7a7;
    --light-blue-color: #e1eff6;
     --semi-gray-color: #6b6a6a;
}

.transform-5ms {
    transition: all .5s;
}

.circle-sm {
    width: 10px;
    height: 10px;
}

.hover-link {
    transition: all .4s;
    text-decoration: none!important;
    color: black;
}

.hover-link:hover {
    color: var(--semi-gray-color)!important;
}

.custom-active:active {
    color: black;
    background-color: var(--light-gray-color)!important;
}

.disable-focus:focus {
    box-shadow: none!important;
}

.highlight-row {
    transition: all .3s;
    background-color: var(--semi-light-gray-color);
}

.chat-search-hit {
    transition: .4s all;
}

.chat-search-hit:hover {
    background-color: var(--semi-light-gray-color)!important;
}

.bg-light-blue {
    background-color: var(--light-blue-color);
}

.bg-light-gray {
    background-color: var(--light-gray-color);
}

.message-box {
    display: inline-block;
    max-width: 100%;
    word-break: break-all;
}